<template name="programme">
    <div class="frame">
        
    <h1>Programme</h1>

    <div class="events">
        
        <div class="left">
            <section class="event">
                <h2>Mariage religieux</h2>
                <h3>27 Juin a 16h30</h3>
                <p>Notre Dame des Flots<br>
                20 Boulevard de la Plage<br>
                33970 Le Cap Ferret, France</p>
            </section>

            <section class="event">
                <h2>Cocktail</h2>
                <h3>27 Juin a 18h30</h3>
                <p>La Cabane du Mimbeau<br>
                28 Impasse de la Conche<br>
                33970 Le Cap Ferret, France</p>
            </section>

            <section class="event">
                <h2>Soiree</h2>
                <h3>27 Juin a 22h00</h3>
                <p>Casa Maris<br>
                23 avenue des Ajoncs<br>
                33970 Le Cap Ferret, France</p>
            </section>
        </div>

        <div class="right">        
            <div class="programme-map">
            </div>
        </div>
    </div>
    </div>
</template>