<template name="transport">
    <div class="frame">
        
    <h1>Transport</h1>


    <section class="transport">
        
        <h2>Pour ceux qui ont la tête dans les nuages: Avion + Voiture</h2>

        <p>- Vol jusqu’à Bordeaux Merignac</p>
        <p>- Location de voiture à l'aeroport puis env. 1h de route jusqu'au Cap Ferret (attention aux embouteillages du dimanche soir s’il fait beau)</p>

        <h3>Réserver</h3>
        <p><a href="http://www.airfrance.fr" target="_blank">http://www.airfrance.fr</a></p>
        <p><a href="http://www.elocationdevoitures.fr" target="_blank">http://www.elocationdevoitures.fr</a></p>
    </section>
    
    <section class="transport">
        <h2>Pour ceux qui ont le pied marin: Train + Bateau</h2>
        <div class="left">
            <div class="transport-bateau">
                
            <p>- Train jusqu'à Arcachon (direct depuis Paris ou avec changement à Bordeaux)</p>
            <p>- Prevoir un bon 1/4 d’heure pour rejoindre la jetée puis prendre la navette UBA pour traverser le bassin jusqu’au Cap Ferret (environ 30mn).</p>
            <h3>Horaires des navettes UBA</h3>
            <p>Aller: Arcachon - Cap Ferret<br>
            Vendredi 26: 11h, 12, 14h, 16h, 18h, 20h, 23h<br>
            Samedi 27: 11h, 12, 14h</p>
            <p>Retour: Cap Ferret - Arcachon<br>
            Dimanche 28: 14h30, 16h30, 18h30</p>
            <h3>Réserver</h3>
            <p><a href="http://www.voyages-sncf.com" target="_blank">http://www.voyages-sncf.com</a></p>
            <p><a href="http://www.bateliers-arcachon.com/" target="_blank">http://www.bateliers-arcachon.com/</a></p>
            </div>
        </div>
        <div class="right">
            <div class="transport-map"></div>
        </div>
    </section>

    <section class="transport">
        <h2>Une fois au Cap Ferret</h2>
        <p>- Possibilite de louer des velos en arrivant au Cap Ferret (Jetée Bélisaire) pour vous deplacer plus facilement.</p>
        <p>- Pour les marcheurs, il est possible de se deplacer à pied également.</p>
    </section>

    </div>
</template>